:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Гумові картинки */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 288px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* ========== Mobile Header style =========== */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.menu {
  display: none;
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-studio {
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .page-navigation {
    display: none;
  }

  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #2f2f37;
  }

  .mobile-menu-wraper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  .mobile-menu-wraper.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
  }

  .mobile-menu-close-btn {
    position: absolute;
    right: 24px;
    padding: 0;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    stroke: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    border: none;
    background-color: #404bbf;
  }

  .mobile-menu-close-btn-icon {
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn-icon:hover svg,
  .mobile-menu-close-btn-icon:focus svg {
    fill: #ffffff;
  }
  /* Mobile hero */

  .hero-section {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_mobile.jpg);
    background-color: var(--navy-blue);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    margin-right: auto;
    margin-left: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    align-items: center;
    display: flex;
  }

  .hero-title {
    color: var(--white);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }

  .hero-button {
    background: var(--iris);
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-button:hover,
  .hero-button:focus {
    background: var(--ocean);
  }

  /* Mobile advantages */

  .svg-container {
    display: none;
  }

  .advantages-section {
    padding: 96px 0;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .advantages-list {
    display: inline-block;
    padding-left: 0;
    margin: 0;
  }

  .advantages-list-item {
    margin-bottom: 72px;
  }

  .advantages-list-subtitle {
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }

  .advantages-list-desc {
    color: var(--slate);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ========== Mobile Header style =========== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
  .mobile-menu-wraper {
    display: none;
  }
  /* ========== Tablet Header style =========== */
  .mobile-menu-open-btn {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin: 0;
  }

  .menu-item {
  }

  .menu-link {
    display: block;
    color: var(--navy-blue);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio {
    position: relative;
    color: var(--ocean);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio::after {
    display: block;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--ocean);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    content: "";
    position: absolute;
  }

  .menu-link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--ocean);
  }

  .adress {
    display: block;
  }

  .address-item {
    margin-bottom: 12px;
  }

  .address-link {
    color: var(--slate);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--ocean);
  }

  /* Tablet hero */
  .hero-section {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_tablet.jpg);
    background-color: var(--navy-blue);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    margin-right: auto;
    margin-left: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    align-items: center;
    display: flex;
  }

  .hero-title {
    color: var(--white);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }

  .hero-button {
    background: var(--iris);
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-button:hover,
  .hero-button:focus {
    background: var(--ocean);
  }

  /*Tablet advantages */

  .svg-container {
    display: none;
  }

  .advantages-section {
    padding: 96px 0;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .advantages-list {
    display: inline-block;
    padding-left: 0;
    margin: 0;
  }

  .advantages-list-item {
    margin-bottom: 72px;
  }

  .advantages-list-subtitle {
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }

  .advantages-list-desc {
    color: var(--slate);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ========== Tablet Header style =========== */
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  /* ========== Desktop Header style =========== */

  /* ========== Desktop Header style =========== */
}
