:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Гумові картинки */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* Header style  */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.menu {
  display: none;
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-studio {
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Hero */

.hero-section {
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_mobile.jpg);
  background-color: var(--navy-blue);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin-right: auto;
  margin-left: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  align-items: center;
  display: flex;
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 169px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.hero-button {
  background: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean);
}

/* Advantages */

.svg-container {
  display: none;
}

.advantages-section {
  padding: 96px 0;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  padding-left: 0;
  margin: 0;
  flex-direction: column;
}

.advantages-list-item {
  margin-bottom: 72px;
}

.advantages-list-subtitle {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.advantages-list-desc {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our Team*/
.our-team-section {
  background-color: var(--cloud);
}

.our-team-container {
  max-width: 584px;
}

.our-team-list {
  display: inline-block;
  gap: 24px;
  padding-left: 0;
  margin: 0;
  margin-left: 16px;
}

.our-team-list-item {
  margin-bottom: 72px;
}

.our-team-list-item {
  background-color: var(--white);
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  border: none;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border: none;
}

.cards-description {
  padding: 32px 0;
  text-align: center;
  display: block;
}

.our-team-title {
  color: var(--navy-blue);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.ingridients-list-name {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.ingridients-list-desc {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list-our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin: 0;
  gap: 24px;
  padding-top: 8px;
}

.social-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  gap: 24px;
}

.social-link-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  fill: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team:hover,
.social-link-team:focus {
  background-color: var(--ocean);
}



/* Portfolio */
.portfolio-title {
  color: var(--navy-blue);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.overlay-box {
  overflow: hidden;
  width: 288px;
  height: 280px;
  position: absolute;
  position: relative;
  overflow: hidden;
}

.overlay {
  color: var(--cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin: 0;
}

.portfolio-list-item {
  padding-left: 0;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-cards {
  padding: 32px 16px;
  text-align: left;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-list-name {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list-desc {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */

.footer-section {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo-footer-container {
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}

.logo-footer {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.logo-studio-footer {
  display: inline-block;
}

.logo-studio-footer {
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-slogan {
  color: var(--cloud);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  text-align: left;
}

.social-container {
  display: flex;
  flex-direction: column;
}

.footer-paragraph {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--green);
  background-color: var(--green);
}

.social-list {
  gap: 16px;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.subscribe {
  justify-content: center;
}

.footer-subscribe {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  opacity: 0.3;
}

.form-input::placeholder {
  color: var(--white);
}

.form-input::placeholder {
  color: var(--white);
}

.footer-button {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
  margin-left: 16px;
}

.footer-button:hover,
.footer-button:focus {
  background: var(--ocean);
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Modal window styles */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 62 3px;
  background-color: var(--dairy);
  border-radius: 4px;
  padding: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-close-btn-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
  fill: #ffffff;
}

.review-form-description {
  color: var(--navy-blue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 34px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}

.review-form-input:focus {
  border-color: var(--iris);
}

.review-form-field-label {
  display: block;
  color: var(--light-slate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-input-wraper {
  position: relative;
}

.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-input-icon {
  fill: var(--iris);
}

.review-texterea-field-wrapper {
  margin-bottom: 16px;
}

.review-form-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}

.review-form-comment::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}

.review-form-comment:focus {
  border-color: var(--iris);
}

.review-form-chekbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  color: var(--light-slate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.review-form-own-chekbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.review-form-chekbox:checked
  + .review-form-checkbox-label
  > .review-form-own-chekbox {
  background-color: var(--ocean);
  border-color: var(--ocean);
  border: none;
  fill: #f4f4fd;
}

.review-form-chekbox:focus
  + .review-form-checkbox-label
  > .review-form-own-chekbox {
  outline: 2px solid solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}

.review-form-own-chekbox-icon {
  fill: var(--cloud);
  opacity: 0;
}

.review-form-chekbox:checked
  + .review-form-checkbox-label
  .review-form-own-chekbox-icon {
  opacity: 1;
}

.accent-color {
  color: var(--iris);
}

.review-form-submit-btn {
  background: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background: var(--ocean);
}

/*================== MOBILE=================== */

@media screen and (max-width: 767px) {
  .page-navigation {
    display: none;
  }

  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #2f2f37;
  }

  .mobile-menu-wraper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  .mobile-menu-wraper.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-close-btn {
    top: 24px;
    position: absolute;
    right: 8px;
    padding: 0;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    stroke: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    border: none;
    background-color: #404bbf;
  }

  .mobile-menu-close-btn-icon {
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn-icon:hover svg,
  .mobile-menu-close-btn-icon:focus svg {
    fill: #ffffff;
  }

  .list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .mobile-menu-item:first-child {
    color: #404bbf;
  }

  .mobile-menu-link {
    color: inherit;
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .studio {
    position: relative;
    color: var(--ocean);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-item:first-child {
    color: #404bbf;
  }

  .mobile-menu-item {
    padding-bottom: 40px;
  }

  .address-link-mobile {
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .link {
    text-decoration: none;
  }

  .list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .mobile-address-item:first-child {
    color: #4d5ae5;
  }

  .mobile-address-item {
    padding-bottom: 24px;
  }

  .mobile-address-item:last-child {
    padding-bottom: 40px;
  }

  .mobile-menu-icon-container {
    display: flex;
    justify-content: space-between;
  }

  .icon-item {
    width: 40px;
    height: 40px;
  }

  .icon-elipse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris);
    fill: var(--cloud);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-navigation-mobile {
    font-style: normal;
  }

  .mobile-adress-socialmedia {
    margin-top: auto;
  }
}

/*==================  TABLET  =================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .mobile-menu-wraper {
    display: none;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .header {
    padding-top: 0;
    padding-bottom: 0;
}


  .menu {
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin: 0;
  }

  .menu-item {
  }

  .menu-link {
    display: block;
    color: var(--navy-blue);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio {
    position: relative;
    color: var(--ocean);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio::after {
    display: block;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--ocean);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    content: "";
    position: absolute;
  }

  .menu-link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--ocean);
  }

  .adress {
    display: block;
  }

  .address-item {
    margin-bottom: 12px;
  }

  .address-link {
    color: var(--slate);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--ocean);
  }

  /* Tablet hero */

  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_tablet.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
  }

  /*Tablet advantages */

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 0;
  }

  .advantages-list-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }



  .item-container {
    width: 356px;
    margin-bottom: 8px;
  }

  .advantages-list-subtitle {
    text-align: left;
  }

  .advantages-list-desc {
    color: var(--slate);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* Our Team Table */


  .our-team-container.container {
    max-width: 584px;
}

  .our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    margin-left: 0;
  }

  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* Portfolio Table*/

  .overlay-box {
    width: 356px;
    height: 300px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* Footer Table*/

  .footer-section {
    background: var(--navy-blue);
    background-color: #2e2f42;
    padding: 96px 0;
  }


  .footer-container {
    max-width: 584px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:72px 24px;
  }

  .logo-footer-container {

    text-align: left;
  }

  .logo-footer {
    display: inline-block;
  }


  .footer-paragraph {
    text-align: left;
  }

  .social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-left: 0;
    margin: 0;
  }


  .subscribe {
    display: flex;
    column-gap: 24px;
    flex-direction: column;
  }

  .footer-subscribe {
    text-align: left;
    margin-right: auto;
  }

  .form {
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: center;
  }

  .form-input {
    width: 264px;
  }

  .social-link {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list-link {
    display: flex;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list {
    padding-left: 0;
    margin: 0;
    gap: 16px;
    display: flex;
  }

/* Backdrop styles Table */

.modal {
  width: 408px;
  min-height: 584px;
}

.review-form-input {
  padding-left: 38px;
}

/*==================  DESKTOP  =================== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile-menu-wraper {
    display: none;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  /* header desktop*/

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  
  header {
    display: block;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }
  
  .logo-studio {
    color: var(--navy-blue);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .menu {
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin: 0;
  }
  
  .menu-item {
  }
  
  .menu-link {
    display: block;
    color: var(--navy-blue);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .studio {
    position: relative;
    color: var(--ocean);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .studio::after {
    display: block;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--ocean);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    content: "";
    position: absolute;
  }
  
  .menu-link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  
  .menu-link:hover,
  .menu-link:focus {
    color: var(--ocean);
  }
  
  .adress {
    display: flex;
    gap: 40px;
  }
  
  .page-navigation {
    font-style: normal;
  }
  
  .address-link {
    color: var(--slate);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .address-link:hover,
  .address-link:focus {
    color: var(--ocean);
  }

/* hero desktop */

.hero-section {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-color: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  font-style: normal;
  max-width: 496px;
  margin-bottom: 48px;
  text-transform: none;
}

/* advantages desktop */

.advantages-section {
  padding: 120px 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  fill: #2e2f42;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.advantages-list-subtitle {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: left;
}

.advantages-list-desc {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our team desktop */

.our-team-container.container {
  max-width: 1158px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}

.our-team-list-item {

}

.our-team-list-item {
  width: calc((100% - 72px) / 4);
}

/* Portfolio desktop */

.overlay-box {
  width: 360px;
  height: 300px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}


/* Footer desktop */


.footer-section {
  padding: 100px 0;
}


.logo-footer-container {
  margin-right: 96px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.social-container {
  margin-right: 56px;
}


.footer-paragraph {
  text-align: left;
}

.social-list {
  padding-left: 0;
  margin: 0;
  gap: 16px;
}

.form {
  display: flex;
  gap: 24px;
}

.subscribe {
  justify-content: initial;
}

.footer-subscribe {
  text-align: left;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--white);
  outline: none;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 264px;
  outline: transparent;
  border: 1px solid #fff;
  font-family: inherit;
  flex-shrink: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.3;
}

.footer-button {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}